body {
    overflow: hidden;
    background-color: black;
    user-select: none;
    //background: url('../assets/bg.jpg') no-repeat 50% 0;
    background-size: 100% 100%;
    margin: 0;
    //transform: translateZ(0);
    //-webkit-transform: translateZ(0);
    //-moz-transform: translateZ(0);
    //-o-transform: translateZ(0);
    //-ms-transform: translateZ(0);
}

body.portrait {
    background: url('../assets/bgPortrait.jpg') no-repeat 50% 100%;
    background-size: cover;
}

body.popup {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg.jpg') no-repeat 50% 0;
    background-size: 100% 100%;
}
