body {
  overflow: hidden;
  background-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-size: 100% 100%;
  margin: 0;
}

body.portrait {
  background: url("../assets/bgPortrait.jpg") no-repeat 50% 100%;
  background-size: cover;
}

body.popup {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bg.jpg") no-repeat 50% 0;
  background-size: 100% 100%;
}
